.message {
	padding: 5px;
	margin-bottom: 20px;
	background-color: black;

	label {
		display: inline-block;
		padding-left: 5px;
		margin-bottom: 5px;
		font-size: larger;
	}

	.white {
		color: white;
	}
	.red {
		color: red;
	}
	.green {
		color: green;
	}
	.orange {
		color: orange;
	}
	.yellow {
		color: yellow;
	}
	.blue {
		color: blue;
	}
	.blueviolet {
		color: blueviolet;
	}

	p {
		width: 90%;
		margin-left: 20px;
		overflow-x: hidden;
	}

	.deleteButton {
		float: right;
		cursor: pointer;
	}
}

@media only screen and (max-width: 576px) {
	.message {
		label {
			font-size: large;
		}

		p {
			margin-left: 15px;
			font-size: 14px;
		}
	}
}
