.messageForm {
	.transmiterData {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;

		.nicknameDiv {
			position: relative;
			width: 70%;
		}

		.colorPicker {
			height: 25px;
		}
	}

	.notification {
		margin-top: 30px;
	}
}
